<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>

<body>


  <div class="nav">
  <div>
    <br>
    <button type="button" id = "button" onclick="location.href='/';">Home Page </button> <br> <br>
    <button type="button" id = "button" onclick="location.href='/api/all';">List of All the Player's Names</button> <br>
    <button type="button" id = "button" onclick="location.href='/api/pitchers';">Pitchers With a Decent Batting Average</button> <br>
    <button type="button" id = "button" onclick="location.href='/api/allstar';">List of All Stars</button> <br>
    <button type="button" id = "button" onclick="location.href='/api/longterm';">Players with Large Contracts</button> <br>
    <button type="button" id = "button" onclick="location.href='/api/third';">Players who Play 3B</button> <br> 
    <br>
  </div>
</div>

 {{{body}}}
 
</body>

</html>
